\documentclass{article}

\usepackage{booktabs}
\usepackage[letterpaper,hmargin=0.5in,vmargin=0.5in]{geometry}
\usepackage[parfill]{parskip}
\pagestyle{empty}
\linespread{1.5}
\begin{document}

\hfill{\huge\bf CBS Server}\hfill
\bigskip
\hrule

{\bf Invoice To:} \\
{{pi_name}} 

{\bf Billing Period:} \\
{{start_date}}--{{end_date}}

{\bf Date:} \\
{{bill_date}}

\begin{table}[htb]
\begin{center}
\begin{tabular}[htb]{l l l l r r r}
\toprule
Name & Start Date & End Date & Quantity & Unit Price & Quarter & Amount\\
\midrule
\bf Storage & & & & & &\\
{{pi_last_name}} & {{storage_timestamp}} & N/A & {{storage_amount}} TB & \${{storage_price}} & 0.25 & \${{storage_subtotal}}\\
\bf Power Users\\
{% for power_user in power_users %}
{{power_user.last_name}} & {{power_user.start_date}} & {{power_user.end_date}} & 1 Power User & \${{power_user.price}} & 0.25 & \${{power_user.subtotal}}\\
{% endfor %}
\midrule
\bf Subtotal & & & {{power_users|length}} Power Users & & 0.25 & \${{power_users_subtotal}}\\
\bottomrule
\bf Balance Due & & & & & & \${{total}}
\end{tabular}
\end{center}
\end{table}

\end{document}
